body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}

.header {
  width: 100%;
  text-align: center;
  background-color: #afb5bb;
  padding: 20px 0;
}

.header h1 {
  font-size: 2.5rem;
  color: white;
  margin: 0;
}

h1 {
  font-size: 2rem;
  margin: 15px;
}

.convert {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: flex-start; /* Aligns the h1 slightly below the top */
  height: 100vh; /* Full viewport height */
  padding-top: 100px; /* Adjust the padding-top to move the h1 down */
}

button {
  padding: 10px 20px;
  margin: 15px;
  font-size: 22px;
  color: white;
  background-color: #afb4b9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input {
  padding: 10px 20px;
  margin: 10px;
  font-size: 1rem;
  color: white;
  background-color: #4c4f529d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6a6d70;
}

h3 {
  font-size: 1.5rem;
  margin: 20px;
}